@page "/not-found"
@layout MainLayout

<div class="not-found-container">
    <div class="not-found-content">
        <div class="error-code">404</div>
        <h1>Nie znaleziono strony</h1>
        <p class="error-description">Czego szukasz, nie istnieje w tym świecie. Możliwe, że adres jest niepoprawny lub strona została przeniesiona.</p>
        

        <a href="/posts" class="btn-return">← Wróć do postów</a>
    </div>
</div>
